/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Video Container */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Header Styles */
.header {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

/* Hero Section */
.hero-logo {
    max-width: 200px;
    margin-bottom: 1rem;
}

.hero-button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.hero-button:hover {
    background: #555;
}

/* Section Styles */
.section {
    padding: 3rem 2rem; /* Minska padding för att reducera avstånd mellan sektioner */
    margin-top: 5rem; /* Justera margin-top för att minska avstånd */
    position: relative;
    z-index: 2;
    background: rgba(211, 211, 211, 0.9); /* Ljusgrå, lätt transparent bakgrund */
    backdrop-filter: blur(10px); /* För att ge en suddig effekt på bakgrunden */
    overflow: hidden;
}

.section:first-of-type {
    margin-top: 100vh; /* Flytta ner första sektionen under videon */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.section-divider {
    border: 0;
    height: 1px;
    background: #000;
    margin: 0;
}

/* Step Icon Styles */
.step-icon {
    margin-bottom: 1rem;
    color: #f97300;
}

/* Form Styles */
.quote-form {
    display: flex;
    flex-direction: column;
}

.quote-form label {
    margin: 0.5rem 0;
}

.quote-form input, .quote-form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

.form-button {
    padding: 0.5rem 1rem;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.form-button:hover {
    background: #555;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
}
